{% extends 'base.html' %}
{% load static %}
{% block content%}
<div class="container-fluid">

   <div class="row" >
    <div class="col-md-12">
        <img src="https://th.bing.com/th/id/OLC.WKlBKaKHA0jaoA480x360?&rs=1&pid=ImgDetMain" alt="noimage" height="400px" width="100%">
    </div>
  </div>
  <div class="row" >
    <div class="col-md-12">
<h6>
    VISION<br>
Saint Gregorios Institutes of Technology and Sciences (Saintgits) will be among the globally renowned educational institutions by 2025. We will be known nationally and internationally for:

High-quality faculty
Rigorous research culture
Academic freedom to pursue cutting-edge technology applications
A strong focus on making our youth ready for promising careers
A value system with trust and empowerment at all levels<br>
MISSION<br>
The Saintgits mission is to educate and train students for overall leadership in industry, research, and all other spheres of life through career-oriented courses and mentoring programs that:

Help students develop critical thinking abilities and a problem-solving approach
Emphasize development of confidence with versatility of mind
Prepare the individual for a life time of learning and professional growth
</h6>
    </div>
  </div>
</div>
{% endblock %}